body{
  background-color: #463F3A;
}
html{
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after{
    box-sizing: inherit;
}
.content{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
.content *{
  margin: 20px;
  border-radius: 10px;
  border: solid 2px #E0AFA0;
}
#l{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 250px;
  background-color: #E0AFA0;
  font-size: 70px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#b1{
  width: 200px;
  height: 100px;
  background-color: #8A817C;
  font-size: 20px;
  margin: 0px;
  transition: ease 1s;
}
#b1:hover{
  background-color: #E0AFA0;
  transition: ease 1s;
}
#inp{
  background-color: #BCB8B1;
  width: 200px;
  height: 40px;
  text-align: center;
}
.question{
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 100px;
}
.dropbtn{
  width: 50px;
  height: 50px;
  background: url(img/Question_mark.png) center no-repeat; 
  background-size: cover;
  border: none;
  position: relative;
  display: inline-block;
  margin: 0px;
}
.drop-content{
  display: none;
  border: none;
  position: absolute;
  top: 550px;
  background-color: #E0AFA0;
  transition: ease 1s;
  width: 420px;
}
.question:hover .drop-content{
  display: block;
  transition: ease 1s;
}
@media only screen and (min-width: 200px) and (max-width: 500px){
  #l{
    width: 70%;
    font-size: 30px;
  }
  .drop-content{
    width: 98%;
  }
  .drop-content h1{
    margin: 10px;
  }
}